/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #8C8C8A;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #1F1E1D;
  min-height: 20px;
  padding: 10px;
  position: absolute;
  text-align: center;
}
.nav {
  display: flex;
  font-weight: 400;
  font-size: 1.2em;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

.nav li {
  padding: 5px 8px 5px 8px;
  display: inline;
}
.nav a {
  transition: all .5s;
  color: #fff;
}
.nav a.selected, .nav a:hover {
  color: #8C8C8A;
}

header {
  text-align: center;
  background: url('../images/deskmac.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 750px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 70px;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 3px solid white;
  transition: all .5s;


}
.tag {
  color: #fff;
  display: table;
  margin: 15px auto;
  font-size: 2.5em;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width:   500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #5C6882;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #5C6882;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(../images/twitter.svg);
}
a.facebook {
  background-image: url(../images/facebook.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/********************
PAGE: CONTACT
********************/

.contact {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 960px;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.contact p {
  text-align: left;
}

.contact a{
  color: #222;
}

.contact:hover {
  border-color: #5C6882;
}

.contact li {
  display: inline-block;
  padding: 25px 25px 0px 25px;
  text-align: center;
}

.fa {
  color: #222;
}



/********************
PAGE: PORTFOLIO
********************/

.examples {
  background: #fff;
  padding: 30px;
}

.examples li {
  list-style: none;
  background: #f7f5f0;
  max-width: 250px;
  display: inline-block;
  margin: 15px;
}

.examples li p {
  max-width: 250px;
  padding: 0 10px;
  text-align: left;
}

.examples img {
  max-width: 250px;
  border: 2px solid #222;
}



/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 80px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  #contact-title {
    margin-top: 0px;
  }

}
